@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*font-family: 'Poppins', sans-serif;
 - Weights: 200, 400, 600*/

 @media only screen and (max-width: 576px) { 

  .team-builder-2 {
    margin-top: 20%;
  }

  .team-builder-1 {
    margin-top: 40%;
  }

  .team-builder-3 {
    margin-top: 60%;
  }

  .team-builder-4 {
    margin-top: 80%;
  }

  }

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Font-size: 15px;
}

body {
  margin: none;
  font-size: var(--Font-size);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
header {
  text-align: center;
  color: var(--Very-Dark-Blue);
  line-height: 150%;
}

.cointainer {
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.card {
  margin: 5%;
  font-weight: 400;
  width: 15rem;
  height: 11.25rem;
border-radius: 2%;
  padding: 2.5%;
  display: block;
  box-shadow: -5px 8px 16px 0px rgba(0, 0, 0, 0.7);
}

.card img {
  width: 27%;
  float: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card-title {
  color: var(--Very-Dark-Blue);
  font-weight: 600px;
  font-size: 20px;
}


.card-text {
  color: var(--Grayish-Blue);
  font-size: 0.5rem;
}

.team-builder-1 {
  border-top: 3px solid var(--Red);
}
.team-builder-2 {
  border-top: 3px solid var(--Cyan);
}

.team-builder-3 {
  border-top: 3px solid var(--Orange);
}

.team-builder-4{
  border-top: 3px solid var(--Blue);
}
